In [1]:
# Dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser

In [2]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+8/'

In [3]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data1 =[]

for name in names: 
    data1.append(name.get_text())

In [4]:
data1

['7-Eleven3519 N Clark, C101 Chicago IL 60657773-676-4824',
 '7-Eleven1027 W Addison St, A111 Chicago IL 60613773-676-5036',
 '7-Eleven135 W Madison St Chicago IL 60602312-634-0813',
 '7-Eleven6540 W Belmont Ave Chicago IL 60634773-777-4209',
 '7-Eleven958 W. Diversey Chicago IL 60614773-327-3275',
 '7-Eleven - Closed5457 N. Clark Chicago IL 60640773-271-7079',
 '7-Eleven - Closed4116 N Clark Street Chicago IL 60613773-935-4510',
 '7-Eleven - Closed2710 N Lincoln Chicago IL 60614773-549-7878',
 '7-Eleven - Closed1400 N Milwaukee Chicago IL 60622773-395-8826',
 '7-Eleven - Closed5789 N Milwaukee Chicago IL 60646773-775-0016',
 'Access Community Heatlh Network600 W Fulton St Ste 200 Chicago IL 60661312-207-0500',
 'Ace Coffee Bar2600 S California Ave Chicago IL 60608773-579-0229',
 'Ace Coffee Bar Inc433 W Harrison St Chicago IL 60699312-431-1328',
 'American Institute For Research10 S Riverside Plz Ste 600 Chicago IL 60606312-207-0853',
 'Asado Coffee Co1432 W Irving Park Rd Ste 1 Chicago IL 60613773-661-6530',
 'Awake Cafe1357 W. Chicago Ave Chicago IL 60642312-492-8600',
 'Awakenings Inc736 W Irving Park Rd Ste Front Chicago IL 60613773-529-4548',
 'Bad Ass Coffee3737 N Southport Ave Chicago IL 60613773-525-0300',
 'Baladoche2905 N Clark St Chicago IL 60657773-880-5090',
 'Bamenda CoffeeChicago IL 60615214-566-8175',
 'Be Kids Cafe2800 West North Ave Chicago IL 60647312-549-8555',
 'Beans And Bagels2601 W Leland Ave Chicago IL 60625773-649-0015']

In [5]:
##############################################################################
########### Compile Data

In [6]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+9/'

In [7]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data2 =[]

for name in names: 
    data2.append(name.get_text())

In [8]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+10/'

In [9]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data3 =[]

for name in names: 
    data3.append(name.get_text())

In [10]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+11/'

In [11]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data4 =[]

for name in names: 
    data4.append(name.get_text())

In [12]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+12/'

In [13]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data5 =[]

for name in names: 
    data5.append(name.get_text())

In [14]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+13/'

In [15]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data6 =[]

for name in names: 
    data6.append(name.get_text())

In [16]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+14/'

In [17]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data7 =[]

for name in names: 
    data7.append(name.get_text())

In [18]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+15/'

In [19]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data8 =[]

for name in names: 
    data8.append(name.get_text())

In [20]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+16/'

In [21]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data9 =[]

for name in names: 
    data9.append(name.get_text())

In [22]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+17/'

In [23]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data10 =[]

for name in names: 
    data10.append(name.get_text())

In [24]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+18/'

In [25]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data11 =[]

for name in names: 
    data11.append(name.get_text())

In [26]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+19/'

In [27]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data12 =[]

for name in names: 
    data12.append(name.get_text())

In [28]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+20/'

In [29]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data13 =[]

for name in names: 
    data13.append(name.get_text())

In [30]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+21/'

In [31]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data14 =[]

for name in names: 
    data14.append(name.get_text())

In [32]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+22/'

In [33]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data15 =[]

for name in names: 
    data15.append(name.get_text())

In [34]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+23/'

In [35]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data16 =[]

for name in names: 
    data16.append(name.get_text())

In [36]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+24/'

In [37]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data17 =[]

for name in names: 
    data17.append(name.get_text())

In [38]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+25/'

In [39]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data18 =[]

for name in names: 
    data18.append(name.get_text())

In [40]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+26/'

In [41]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data19 =[]

for name in names: 
    data19.append(name.get_text())

In [42]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+27/'

In [43]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data20 =[]

for name in names: 
    data20.append(name.get_text())

In [44]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+28/'

In [45]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data21 =[]

for name in names: 
    data21.append(name.get_text())

In [46]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+29/'

In [47]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data22 =[]

for name in names: 
    data22.append(name.get_text())

In [48]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+30/'

In [49]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data23 =[]

for name in names: 
    data23.append(name.get_text())

In [50]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+31/'

In [51]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data24 =[]

for name in names: 
    data24.append(name.get_text())

In [52]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+32/'

In [53]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data25 =[]

for name in names: 
    data25.append(name.get_text())

In [54]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+33/'

In [55]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data26 =[]

for name in names: 
    data26.append(name.get_text())

In [56]:
# URL of page to be scraped
url = 'http://www.yellowpagecity.com/US/IL/Chicago/Coffee+Shops/Page+34/'

In [57]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')
names = soup.find_all('a', class_= "listing-wrap")
data27 =[]

for name in names: 
    data27.append(name.get_text())

In [ ]:
#################################################################################################
## Finalize Dataframe

In [61]:
master_data = data1+data2+data3+data4+data5+data6+data7+data8+data9+data10+data11+data12+data13+data14+data15+data16+data17+data18+data19+data20+data21+data22+data23+data24+data25+data26+data27
# master_data
coffee_df = pd.DataFrame({'Name': master_data})
# pizza_df.head(10)
coffee2_df = coffee_df.drop(coffee_df.index[0])

coffee2_df.head(10)

                                                 Name
1   7-Eleven1027 W Addison St, A111 Chicago IL 606...
2   7-Eleven135 W Madison St Chicago IL 60602312-6...
3   7-Eleven6540 W Belmont Ave Chicago IL 60634773...
4   7-Eleven958 W. Diversey Chicago IL 60614773-32...
5   7-Eleven - Closed5457 N. Clark Chicago IL 6064...
6   7-Eleven - Closed4116 N Clark Street Chicago I...
7   7-Eleven - Closed2710 N Lincoln Chicago IL 606...
8   7-Eleven - Closed1400 N Milwaukee Chicago IL 6...
9   7-Eleven - Closed5789 N Milwaukee Chicago IL 6...
10  Access Community Heatlh Network600 W Fulton St...

In [ ]:
##################################################################################
############################### Clean the data ###################################

In [62]:
##Extract the ZipCode and Telephone Number info from the coffee2_df["Name"] column 
new = coffee2_df["Name"].str.split("IL",n=1,expand = True)

# making separate "ziptel" column from new data frame 
coffee2_df["name2"]= new[0] 
coffee2_df["ziptel"]=new[1]

coffee2_df.drop(columns = ["Name"], inplace = True)

coffee2_df['Phone Number'] = coffee2_df['ziptel'].str[-12:]
# print(pizza2_df['Phone Number'])
coffee2_df['Zip Code'] = coffee2_df['ziptel'].str[:6]
# print(pizza2_df['Zip Code'])
coffee2_df.drop(columns =["ziptel"], inplace = True)

In [63]:
coffee2_df.head(10)

                                                name2  Phone Number Zip Code
1            7-Eleven1027 W Addison St, A111 Chicago   773-676-5036    60613
2                   7-Eleven135 W Madison St Chicago   312-634-0813    60602
3                 7-Eleven6540 W Belmont Ave Chicago   773-777-4209    60634
4                    7-Eleven958 W. Diversey Chicago   773-327-3275    60614
5             7-Eleven - Closed5457 N. Clark Chicago   773-271-7079    60640
6       7-Eleven - Closed4116 N Clark Street Chicago   773-935-4510    60613
7            7-Eleven - Closed2710 N Lincoln Chicago   773-549-7878    60614
8          7-Eleven - Closed1400 N Milwaukee Chicago   773-395-8826    60622
9          7-Eleven - Closed5789 N Milwaukee Chicago   773-775-0016    60646
10  Access Community Heatlh Network600 W Fulton St...  312-207-0500    60661

In [64]:
##Extract the City and Telephone Number info from the coffee2_df["Name"] column 
new = coffee2_df["name2"].str.split("Chicago",n=1,expand = True)

# making separate "name3" column from new data frame 
coffee2_df["name3"]= new[0] 
coffee2_df["chicago"]= new[1]

coffee2_df.drop(columns = ["name2"], inplace = True)
coffee2_df.drop(columns = ["chicago"], inplace = True)

#Choose the most important columns for the next part of the ETL Project
coffee2_df = coffee2_df[["name3","Phone Number","Zip Code"]]
coffee2_df.head(10)

                                                name3  Phone Number Zip Code
1                    7-Eleven1027 W Addison St, A111   773-676-5036    60613
2                           7-Eleven135 W Madison St   312-634-0813    60602
3                         7-Eleven6540 W Belmont Ave   773-777-4209    60634
4                            7-Eleven958 W. Diversey   773-327-3275    60614
5                     7-Eleven - Closed5457 N. Clark   773-271-7079    60640
6               7-Eleven - Closed4116 N Clark Street   773-935-4510    60613
7                    7-Eleven - Closed2710 N Lincoln   773-549-7878    60614
8                  7-Eleven - Closed1400 N Milwaukee   773-395-8826    60622
9                  7-Eleven - Closed5789 N Milwaukee   773-775-0016    60646
10  Access Community Heatlh Network600 W Fulton St...  312-207-0500    60661

In [67]:
coffee2_df.to_excel('../../Desktop/export_dataframe.xlsx', index = None, header=True) #Don't forget to add '.xlsx' at the end of the path

In [76]:
coffee3_df = pd.read_csv("../../Desktop/coffeeData.csv")

In [77]:
coffee3_df.head()

                                    name3  Phone Number Zip Code
0   Ace Coffee Bar,2600 S California Ave   773-579-0229    60608
1       Ace Coffee Bar,433 W Harrison St   312-431-1328    60699
2  Asado Coffee Co,1432 W Irving Park Rd   773-661-6530    60613
3             Awake Café, 1357 W. Chicago  312-492-8600    60642
4    Awakenings Inc,736 W Irving Park Rd   773-529-4548    60613

In [78]:
##Extract and separate "Name" and "Address" from the coffee3_df["name3"] column

# dropping null value columns to avoid errors 
coffee3_df.dropna(inplace = True) 
  
# new dataframe with split value columns 
new = coffee3_df["name3"].str.split(",", n = 1, expand = True) 
  
# making separate "Name" column from new data frame 
coffee3_df["Name"]= new[0] 
  
# making separate "Address" column from new data frame 
coffee3_df["Address"]= new[1] 

# Dropping old "name3" column
coffee3_df.drop(columns =["name3"], inplace = True) 

coffee3_df.head()

   Phone Number Zip Code             Name                 Address
0  773-579-0229    60608   Ace Coffee Bar  2600 S California Ave
1  312-431-1328    60699   Ace Coffee Bar      433 W Harrison St
2  773-661-6530    60613  Asado Coffee Co  1432 W Irving Park Rd
3  312-492-8600    60642       Awake Café         1357 W. Chicago
4  773-529-4548    60613   Awakenings Inc   736 W Irving Park Rd

In [79]:
#Choose the most important columns for the next part of the ETL Project
coffeeFinal_df = coffee3_df[["Name","Address","Phone Number","Zip Code"]]
#Rename column names so that they are SQL feiendly
coffeeFinal_df.columns=["Name","Address","Phone_Number","Zip_Code"]
coffeeFinal_df.head()
coffeeFinal_df.reset_index(drop = True)

,Name,Address,Phone_Number,Zip_Code
0,Ace Coffee Bar,2600 S California Ave,773-579-0229,60608
1,Ace Coffee Bar,433 W Harrison St,312-431-1328,60699
2,Asado Coffee Co,1432 W Irving Park Rd,773-661-6530,60613
3,Awake Café,1357 W. Chicago,312-492-8600,60642
4,Awakenings Inc,736 W Irving Park Rd,773-529-4548,60613
5,Bad Ass Coffee,3737 N Southport Ave,773-525-0300,60613
6,Baladoche,2905 N Clark St,773-880-5090,60657
7,Be Kids Café,2800 West North Ave,312-549-8555,60647
8,Beans And Bagels,2601 W Leland Ave,773-649-0015,60625
9,Bellezza Gelato,3637 N Harlem Ave,773-545-1239,60634
10,Beverly Coffee Shop,2734 W 111TH St,773-429-9650,60655
11,Big Shoulders Coffee Works,1105 W Chicago,312-888-3042,60642
12,Bow Truss,406 N Wells St,312-255-7301,60654
13,Bridgeport Coffee,5030 S Cornell Ave,773-947-0348,60615
14,Bridgeport Coffee House,3430 S Ashland Ave,773-247-3320,60608
15,Brothers Coffee Shop Inc,4720 N Kedzie Ave,773-588-1553,60625
16,Bytes & Coffee,606 W Barry Ave,773-281-1600,60657
17,Bytes And Coffee Internet Café,820 W Belmont Ave,773-248-0902,60657
18,Cafe Ballou Store,939 N Western Ave,773-661-2391,60622
19,Cafe Con Leche,2714 N Milwaukee Ave,773-289-4274,60647
20,Cafe Del Mundo,3152 W Irving Park Rd,773-588-5558,60618
21,Cafe Descartes,680 N Lake Shore Dr,312-255-8003,60611
22,Cafe Descartes,327 N Michigan Ave,312-263-0583,60601
23,Cafe Exchange,7201 S Exchange Ave,773-336-8593,60649
24,Cafe Knockbox,1001 N California Ave,773-360-8325,60622
25,Cafe Mustache,2313 N Milwaukee Ave,773-687-9063,60647
26,Cafe Tola,3612 N Southport Ave,773-687-8428,60613
27,Cafe Utjeha,5350 N Lincoln Ave,773-907-8853,60625
28,Caffe ArrivaDolce,6451 N Sheridan Rd,773-338-3103,60626
29,Caffe Baci,20 N Michigan Ave,312-214-2220,60602
...,...,...,...,...
465,Starbucks Coffee,2159 W Belmont Ave,773-935-5680,60618
466,Starbucks Coffee,30 N La Salle St,312-263-0925,60602
467,Starbucks Coffee,4753 N Broadway St,773-334-4227,60640
468,Starbucks Coffee,2730 N Narragansett Ave,773-622-6330,60639
469,Starbucks Coffee,946 W Randolph St,312-850-0079,60607
470,Starbucks Coffee,7101 S Stony Island Ave,773-643-6520,60649
471,Starbucks Coffee,131 S State St,312-977-0018,60603
472,Starbucks Coffee,38 E Ontario St,312-951-0662,60611
473,Starbucks Coffee,1730 W Fullerton Ave,773-248-0602,60614
474,Starbucks Coffee,30 E Hubbard St,312-329-2500,60611
475,Stubbs Coffee,3827 N Lincoln Ave,773-477-9840,60613
476,Sunrise Coffe Shop,9917 S Walden Pkwy,773-779-4141,60643
477,Sunrise Coffee,9917 S Walden Pkwy,773-779-4141,60643
478,Sweet Bean And More,1855 W Diversey Pkwy,773-857-3100,60614
479,Swim Café,1357 W Chicago,312-492-8600,60642
480,Tassili,4342 N Elston Ave,773-685-6773,60641
481,The Bagelers Coffeehouse,2461 N Lincoln Ave,872-802-0347,60614
482,The Coffee Alley,1152 W Taylor St,312-526-3873,60607
483,The Coffee Shop,1135 W Sheridan Rd,773-274-1670,60660
484,The Coffee Studio,5628 N Clark St,773-271-7882,60660
485,The Common Cup,1501 W Morse Ave,773-338-0256,60626
486,The Daily Cup Inc,1217 W Devon Ave,773-338-5131,60660
487,The Eastman Egg Company,23 N Wacker Drive,312-384-1011,60606
488,The Jackalope Coffee And Tea House,753 W 32nd St,312-888-3468,60616
489,The Perfect Cup,4700 N Damen Ave,773-989-4177,60625
490,The Sip,5301 S Hyde Park Blvd,773-891-1789,60615
491,Two Hearted Queen,1201 W Roscoe St,872-802-3874,60657
492,Westons Coffee & Tap Co,4872 North Milwaukee Avenue,708-669-7625,60630
493,Whispers Coffee & Tea Inc,1031 N State St,312-266-6422,60610
494,Zoriana Candy Store,912 N Western Ave,773-772-4281,60622